<div>
  <form class="form-search-filter" fxFlex="row" fxLayoutAlign="end center">
    <div class="search-wrapper search-center">
      <div class="search" fxFlex="" fxLayout="row" fxLayoutAlign="center center">
        <input [(ngModel)]="name" [ngModelOptions]="{standalone: true}" placeholder="جستجو با شناسه و نام شرکت...">
        <button mat-icon-button="" class="mat-icon-button" (click)="ngSearch(name)"><mat-icon class="mat-icon" role="img" aria-hidden="true">search</mat-icon></button>
      </div>
    </div>
  </form>
</div>
<mat-card>
  <mat-card-content>
    <table class="border-radius-8"  mat-table [dataSource]="govFirmInfoData">
      <ng-container matColumnDef="Position">
        <th mat-header-cell *matHeaderCellDef> ردیف </th>
        <td mat-cell *matCellDef="let element; let i = index;">
          {{((pageNumber - 1)* 20 ) + (i + 1)}}
        </td>
      </ng-container>
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>نام</th>
        <td mat-cell *matCellDef="let element">{{element.Name}}</td>
      </ng-container>
      <ng-container matColumnDef="NationalID">
        <th mat-header-cell *matHeaderCellDef>شناسه ملی</th>
        <td mat-cell *matCellDef="let element">{{element.NationalID}}</td>
      </ng-container>
      <ng-container matColumnDef="StateName1">
        <th mat-header-cell *matHeaderCellDef>استان</th>
        <td mat-cell *matCellDef="let element">{{element.StateName1? element.StateName1: 'ثبت نشده'}}</td>
      </ng-container>
      <ng-container matColumnDef="StatName2">
        <th mat-header-cell *matHeaderCellDef>استان دوم</th>
        <td mat-cell *matCellDef="let element">{{element.StatName2? element.StatName2: 'ثبت نشده'}}</td>
      </ng-container>
      <ng-container matColumnDef="StatName3">
        <th mat-header-cell *matHeaderCellDef>استان سوم</th>
        <td mat-cell *matCellDef="let element">{{element.StatName3? element.StatName3: 'ثبت نشده'}}</td>
      </ng-container>
      <ng-container matColumnDef="IsBourse">
        <th mat-header-cell *matHeaderCellDef>بورسی</th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.GnrIsBourseGcode === '190001'">بورسی</span>
          <span *ngIf="element.GnrIsBourseGcode === '190002'">غیر بورسی</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="operation">
        <th mat-header-cell *matHeaderCellDef>عملیات</th>
        <td mat-cell *matCellDef="let element">
          <button mat-mini-fab class="color-btn-warn ml-12" (click)="editFirmInfo(element)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay , sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
  </mat-card-content>
</mat-card>
<app-pagination [dataPage]="govFirmInfo" [pageNumberValue]="params.get('pageNumber')? params.get('pageNumber'): 1" urlRouter="GovAudit/GovFirmInfo" [nameSearch]="params.get('nameSearch')"></app-pagination>
