<form class="form-search-filter">
  <div class="search-wrapper search-center">
    <div class="search" fxFlex="" fxLayout="row" fxLayoutAlign="center center">
      <input [(ngModel)]="name" [ngModelOptions]="{standalone: true}" placeholder="جستجو با شناسه و نام شرکت...">
      <button mat-icon-button="" class="mat-icon-button" (click)="ngSearch(name)"><mat-icon class="mat-icon" role="img" aria-hidden="true">search</mat-icon></button>
    </div>
  </div>
</form>
<div class="header-accordion" fxLayout="row" fxLayoutAlign="start" *ngIf="active && saharReport.length > 0">
  <div fxFlex="30" fxLayout="row" fxLayoutAlign="start">
    <div fxFlex="10">
      <strong>ردیف</strong>
    </div>
    <div fxFlex="90">
      <strong>نام شرکت</strong>
    </div>
  </div>
  <div fxFlex="70" fxLayout="row" fxLayoutAlign="start">
    <div fxFlex="50" class="pl-16">
      <strong>شناسه ملی</strong>
    </div>
    <div fxFlex="50" class="pl-16">
      <strong>نام حسابرس</strong>
    </div>
    <div fxFlex="50" class="pl-16">
      <strong>نوع گزارش</strong>
    </div>
    <div fxFlex="50" class="pl-16">
      <strong>پایان سال مالی</strong>
    </div>

  </div>
</div>
<mat-accordion *ngIf="active && saharReport.length > 0">
  <mat-expansion-panel *ngFor="let item of saharReport; let index = index" class="member-card">
    <mat-expansion-panel-header>
      <mat-panel-title fxFlex="30" fxLayout="row" fxLayoutAlign="start">
        <div fxFlex="10">
          <strong>  {{1 + (index+((pageNumber-1) * 20))}}</strong>
        </div>
        <div fxFlex="90">
          {{item.CustomerName}}
        </div>
      </mat-panel-title>
      <mat-panel-description fxFlex="70" fxLayout="row" fxLayoutAlign="start">
        <div fxFlex="50">
          {{item.NationalID}}
        </div>
        <div fxFlex="50">
          {{item.AuditorName}}
        </div>
        <div fxFlex="50">
          {{item.ActivityNAme}}
        </div>
        <div fxFlex="50">
          {{item.DurationDateEnd | dateType}}
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div fxLayout="row wrap" fxLayoutAlign="start" class="pt-28">
      <div fxFlex="100" class="mb-20" fxLayoutAlign="end center" *ngIf="item.ReportValid !== 0">
        <button type="submit" (click)="ngGetPdf(item)"   mat-raised-button class="color-btn-click ml-8">نمایش گزارش</button>
      </div>
      <div class="mt-12" fxFlex="25">
        <p>
          <strong>تاریخ صورت های مالی :</strong>
          {{item.StatementDate | dateType}}
        </p>
      </div>
      <div class="mt-12" fxFlex="25">
        <p>
          <strong>تاریخ گزارش :</strong>
          {{item.AuditReportDate | dateType}}
        </p>
      </div>
      <div class="mt-12" fxFlex="25">
        <p>
          <strong>تاریخ ارسال به شرکت :</strong>
          {{item.AuditReportSendDate | dateType}}
        </p>
      </div>
      <div class="mt-12" fxFlex="25">
        <p>
          <strong>تاریخ ارسال به جامعه :</strong>
          {{item.SendDate | dateType}}
        </p>
      </div>
      <div class="content-member" fxFlex="25">
        <p>
          <strong>اظهار نظر :</strong>
          {{item.OpinionName}}
        </p>
      </div>
      <div class="mt-12" fxFlex="25" *ngIf="item.WorkStartDate">
        <p>
          <strong>زمان شروع کار :</strong>
          {{item.WorkStartDate | dateType}}
        </p>
      </div>
      <div class="mt-12" fxFlex="25" *ngIf="item.WorkEndDate">
        <p>
          <strong>زمان پایان کار :</strong>
          {{item.WorkEndDate | dateType}}
        </p>
      </div>
      <div class="mt-12" fxFlex="25" *ngIf="item.FinalTime">
        <p>
          <strong>ساعت واقعی :</strong>
          {{item.FinalTime}}
        </p>
      </div>
      <div class="mt-12" fxFlex="25" *ngIf="item.FinalAmount">
        <p>
          <strong>مبلغ نهایی :</strong>
          {{item.FinalAmount | number}}
        </p>
      </div>
      <div class="mt-12" fxFlex="25">
        <p>
          <strong>امضا اول :</strong>
          {{item.SingnName1}}
        </p>
      </div>
      <div class="mt-12" fxFlex="25">
        <p>
          <strong>امضا دوم :</strong>
          {{item.SingnName2}}
        </p>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<app-pagination *ngIf="active && saharReport.length > 0"
                [dataPage]="saharReportPage"
                [pageNumberValue]="params.get('pageNumber')? params.get('pageNumber'): 1"
                urlRouter="SaharControl/IacpaReportControled"
                [nameSearch]="params.get('nameSearch')" ></app-pagination>
<div *ngIf="active && saharReport.length == 0">
  <p class="empty-text">موردی برای مشاهده وجود ندارد</p>
</div>
