.search-brthdate {
  width: 100%;
  max-width: 300px;
  border-radius: 28px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
  padding: 7px;
  background: #ffffff;
  .material-field-brthdate {
    position: absolute;
    right: 10px;
  }
}
