<div fxLayout="row"
     fxLayoutAlign="center start"
     fxLayoutGap="12px">
  <div  fxFlex="100" fxLayoutAlign="start justify" class="pb-24 h3">اشخاص وابسته</div>
</div>
<div class="card-content">
  <div class="mat-elevation-z8">
    <table class="border-radius-8" mat-table [dataSource]="transAffiliates">
      <ng-container matColumnDef="RelatedGroup">
        <th mat-header-cell *matHeaderCellDef>گروه اشخاص وابسته	</th>
        <td mat-cell *matCellDef="let element"> {{element.RelatedGroup}} </td>
      </ng-container>
      <ng-container matColumnDef="FirmType">
        <th mat-header-cell *matHeaderCellDef> شخصیت</th>
        <td mat-cell *matCellDef="let element"> {{element.FirmType}}</td>
      </ng-container>
      <ng-container matColumnDef="NationalId">
        <th mat-header-cell *matHeaderCellDef>شناسه شخصیت</th>
        <td mat-cell *matCellDef="let element"> {{element.NationalId}}</td>
      </ng-container>
      <ng-container matColumnDef="RelationShipType">
        <th mat-header-cell *matHeaderCellDef>نوع وابستگی	</th>
        <td mat-cell *matCellDef="let element"> {{element.RelationShipType}}</td>
      </ng-container>
      <ng-container matColumnDef="PurchaseofGoodsAndServices">
        <th mat-header-cell *matHeaderCellDef>خرید کالا و خدمات</th>
        <td mat-cell *matCellDef="let element"> {{element.PurchaseofGoodsAndServices}}</td>
      </ng-container>
      <ng-container matColumnDef="SalesofGoodsAndServices">
        <th mat-header-cell *matHeaderCellDef>فروش کالا و خدمات</th>
        <td mat-cell *matCellDef="let element"> {{element.SalesofGoodsAndServices}}</td>
      </ng-container>
      <ng-container matColumnDef="LoansReceived">
        <th mat-header-cell *matHeaderCellDef>تسهیلات دریافتی</th>
        <td mat-cell *matCellDef="let element"> {{element.LoansReceived}}</td>
      </ng-container>
      <ng-container matColumnDef="LoansPaid">
        <th mat-header-cell *matHeaderCellDef>تسهیلات پرداختی</th>
        <td mat-cell *matCellDef="let element"> {{element.LoansPaid}}</td>
      </ng-container>
      <ng-container matColumnDef="OtherPurchas">
        <th mat-header-cell *matHeaderCellDef>سایر خریدها</th>
        <td mat-cell *matCellDef="let element"> {{element.OtherPurchas}}</td>
      </ng-container>
      <ng-container matColumnDef="OtherSales">
        <th mat-header-cell *matHeaderCellDef>سایر فروش ها</th>
        <td mat-cell *matCellDef="let element"> {{element.OtherSales}}</td>
      </ng-container>
      <ng-container matColumnDef="CollateralGrantedAndReceived">
        <th mat-header-cell *matHeaderCellDef>تضامین اعطائی/دریافتی</th>
        <td mat-cell *matCellDef="let element"> {{element.CollateralGrantedAndReceived}}</td>
      </ng-container>
      <ng-container matColumnDef="BusinessLaw129">
        <th mat-header-cell *matHeaderCellDef>مشمول ماده 129</th>
        <td mat-cell *matCellDef="let element"> {{element.BusinessLaw129 ? "می‌باشد": "نمی‌باشد"}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

