<h3>اطلاعات قرار داد</h3>
<div fxLayout="row wrap" fxLayoutAlign="start">
    <div fxFlex="33.333">
        <p>
            <strong>شماره قرارداد :</strong>
            {{data.TreatyNo}}
        </p>
    </div>
    <div fxFlex="33.333">
      <!--      dateType-->
        <p>
            <strong>تارخ قرار داد :</strong>
            {{data.TreatyDate }}
        </p>
    </div>
    <div fxFlex="33.333">
        <p>
            <strong>ساعت بودجه :</strong>
            {{data.BudjetHorse}}
        </p>
    </div>
    <div fxFlex="33.333">
        <p>
            <strong>تعداد امضا :</strong>
            {{data.SignCount}}
        </p>
    </div>
    <div fxFlex="33.333">
      <!--      dateType-->
        <p>
            <strong>تاریخ امضا شرکت :</strong>
            {{data.SignDate}}
        </p>
    </div>
    <div fxFlex="33.333">
<!--      dateType-->
        <p>
            <strong>تاریخ مجمع :</strong>
            {{data.GAssemblyDate}}
        </p>
    </div>
    <div fxFlex="33.333">
        <p>
            <strong>درصد پیش پرداخت :</strong>
            % {{data.PrePaymentPer}}
        </p>
    </div>
    <div fxFlex="33.333">
        <p>
            <strong>مدت اعتبار (ماه) :</strong>
            {{data.ValidatyPeriod}}
        </p>
    </div>
    <div fxFlex="33.333">
        <p>
            <strong>مهلت صورت های مالی (ماه) :</strong>
            {{data.StatementPeriod}}
        </p>
    </div>
</div>



