<div *ngIf="active" class="mb-24">
  <mat-card>
    <mat-card-content>
      <form fxLayout="row wrap"
          fxLayoutAlign="start center">
        <div *ngFor="let item of formContract" fxFlex="25">
          <div *ngIf="item.type !== 'textArea' && !item.data && item.type !== 'date' && item.type !== 'number'" class="mb-24">
            <mat-form-field>
              <input matInput
                     [(ngModel)]="formData[item.enName]"
                     [ngModelOptions]="{standalone: true}"
                     [disabled]="item.disable"
                     [type]="item.type"
                     [placeholder]="item.faName">
            </mat-form-field>
          </div>
          <div *ngIf="item.type === 'number'" class="mb-24">
            <mat-form-field>
              <input matInput
                     currencyMask
                     [(ngModel)]="formData[item.enName]"
                     [ngModelOptions]="{standalone: true}"
                     [disabled]="item.disable"
                     type="text"
                     [placeholder]="item.faName"   style="text-align: right !important;">
            </mat-form-field>
          </div>
          <div
            *ngIf="item.data">
            <mat-form-field>
              <mat-select  [(ngModel)]="formData[item.enName]"  [ngModelOptions]="{standalone: true}" [placeholder]="item.faName" [disabled]="item.disable">
                <mat-option *ngFor="let subItem of item.data" [value]="subItem.GCode">{{subItem.Name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div *ngIf="item.type === 'textArea'" class="mb-24">
            <mat-form-field>
              <textarea matInput [(ngModel)]="formData[item.enName]"  [ngModelOptions]="{standalone: true}" [placeholder]="item.faName" rows="8"></textarea>
            </mat-form-field>
          </div>
          <div *ngIf="item.type === 'date'"
               class="mb-12 mt-16 material-form-field">
            <input [name]="item.enName" class="datepicker"  [readOnly]="formData[item.enName] ? false : true" [id]="item.enName" [(ngModel)]="formData[item.enName]"
                   (ngModelChange)="dateMode(formData[item.enName], item.enName)"
                   [dpDayPicker]="datePickerConfig" theme="dp-material" required>
            <label [for]="item.enName" class="material-form-field-label">{{item.faName}}</label>
          </div>
        </div>
      </form>
      <div fxLayout="row"
           fxLayoutAlign="center start"
           fxLayoutGap="12px">
        <div fxFlex="100" fxLayoutAlign="end center">
          <button mat-raised-button class="btn-success"  (click)="updateContract()">ذخیره</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div>
  <form class="form-search-filter" fxFlex="row">
    <div class="search-wrapper search-center" style="position: relative">
      <div class="search" fxFlex="" fxLayout="row" fxLayoutAlign="center center">
        <input #name  placeholder="جستجو با شناسه و نام شرکت...">
        <button mat-icon-button="" class="mat-icon-button" (click)="ngGetContractInfoOlds(name.value)"><mat-icon class="mat-icon" role="img" aria-hidden="true">search</mat-icon></button>
      </div>
    </div>
  </form>
</div>
<div *ngIf="contracts">
  <div class="card-content">
    <div class="mat-elevation-z8">
      <table class="border-radius-8 table-font-small" mat-table [dataSource]="contracts">
        <ng-container matColumnDef="row">
          <th mat-header-cell *matHeaderCellDef>ردیف</th>
          <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}}</td>
        </ng-container>
        <ng-container matColumnDef="ActivityName">
          <th mat-header-cell *matHeaderCellDef>نوع قرارداد</th>
          <td mat-cell *matCellDef="let element"> {{element.ActivityName}} </td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>مبلغ قرارداد</th>
          <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>
        <ng-container matColumnDef="BudjetHorse">
          <th mat-header-cell *matHeaderCellDef>ساعت بودجه</th>
          <td mat-cell *matCellDef="let element"> {{element.BudjetHorse | number}} </td>
        </ng-container>
        <ng-container matColumnDef="DurationDateStart">
          <th mat-header-cell *matHeaderCellDef>شروع سال مالی</th>
          <td mat-cell *matCellDef="let element"> {{element.DurationDateStart}} </td>
        </ng-container>
        <ng-container matColumnDef="DurationDateEnd">
          <th mat-header-cell *matHeaderCellDef>پایان سال مالی</th>
          <td mat-cell *matCellDef="let element"> {{element.DurationDateEnd}} </td>
        </ng-container>
        <ng-container matColumnDef="DurationPer">
          <th mat-header-cell *matHeaderCellDef>طول سال مالی به ماه</th>
          <td mat-cell *matCellDef="let element"> {{element.DurationPer}} </td>
        </ng-container>
        <ng-container matColumnDef="TreatyDate">
          <th mat-header-cell *matHeaderCellDef>تاریخ قرارداد</th>
          <td mat-cell *matCellDef="let element"> {{element.TreatyDate | dateType}} </td>
        </ng-container>
        <ng-container matColumnDef="TreatyNo">
          <th mat-header-cell *matHeaderCellDef>شماره قرارداد</th>
          <td mat-cell *matCellDef="let element"> {{element.TreatyNo}} </td>
        </ng-container>
        <ng-container matColumnDef="operation">
          <th mat-header-cell *matHeaderCellDef> عملیات </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button class="btn-add-success"  (click)="initContract(element)">ویرایش</button>

          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay ,  sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
    </div>
  </div>
  <mat-paginator
    showFirstLastButtons
    [pageSize]="20"
    [pageSizeOptions]="[20, 30, 40]">
  </mat-paginator>
</div>
