.btLogin {
  height: 50px;
  font-size: 17px;
  background-color: #00C851;
  color: #ffffff;
}
.content-info {
  background: #d2d2d2;
  .content-p {
    line-height: 2.3;
    font-size: 15px;
    text-align: justify;
    padding-left: 22px;
    padding-right: 22px;
    font-weight: 600;
  }

}
