<form class="form-search-filter">
  <div class="search-wrapper search-center">
    <div class="search" fxFlex="" fxLayout="row" fxLayoutAlign="center center">
      <input #name  placeholder="جستجو با شناسه و نام شرکت...">
      <button mat-icon-button="" class="mat-icon-button" (click)="ngSearch(name)"><mat-icon class="mat-icon" role="img" aria-hidden="true">search</mat-icon></button>
    </div>
  </div>
</form>
<div class="mb-12 text-left">
  <button mat-raised-button class="ml-12 btn-add-success" (click)="addContractInfoOld()">افزودن</button>
</div>
<div>
  <div class="card-content">
    <div class="mat-elevation-z8 table-font-small">
      <table class="border-radius-8" mat-table [dataSource]="customers">
        <ng-container matColumnDef="row">
          <th mat-header-cell *matHeaderCellDef>ردیف</th>
          <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}}</td>
        </ng-container>
        <ng-container matColumnDef="OldName">
          <th mat-header-cell *matHeaderCellDef>نام شرکت</th>
          <td mat-cell *matCellDef="let element"> {{element.OldName}} </td>
        </ng-container>
        <ng-container matColumnDef="OldNationalId">
          <th mat-header-cell *matHeaderCellDef>شناسه ملی</th>
          <td mat-cell *matCellDef="let element"> {{element.OldNationalId}} </td>
        </ng-container>
        <ng-container matColumnDef="FirmName">
          <th mat-header-cell *matHeaderCellDef>نام موسسه</th>
          <td mat-cell *matCellDef="let element"> {{element.FirmName}} </td>
        </ng-container>
        <ng-container matColumnDef="TradeCityName">
          <th mat-header-cell *matHeaderCellDef>محل ثبت</th>
          <td mat-cell *matCellDef="let element"> {{element.TradeCityName}} </td>
        </ng-container>
        <ng-container matColumnDef="TradeNo">
          <th mat-header-cell *matHeaderCellDef>شماره قرارداد</th>
          <td mat-cell *matCellDef="let element"> {{element.TradeNo}} </td>
        </ng-container>
        <ng-container matColumnDef="Organization">
          <th mat-header-cell *matHeaderCellDef>نام ارگان</th>
          <td mat-cell *matCellDef="let element"> {{element.Organization}} </td>
        </ng-container>
        <ng-container matColumnDef="Comment">
          <th mat-header-cell *matHeaderCellDef>یاداشت</th>
          <td mat-cell *matCellDef="let element"> {{element.Comment}} </td>
        </ng-container>
        <ng-container matColumnDef="Address">
          <th mat-header-cell *matHeaderCellDef>آدرس</th>
          <td mat-cell *matCellDef="let element"> {{element.Address}} </td>
        </ng-container>
        <ng-container matColumnDef="operation">
          <th mat-header-cell *matHeaderCellDef> عملیات </th>
          <td mat-cell *matCellDef="let element" class="text-center">
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay ,  sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
    </div>
  </div>
</div>
